openapi: 3.1.0
info:
  title: Microsoft Purview Account Accounts Glossary Terms API
  description: APIs for managing Purview accounts, configurations, and administrative settings through Azure Resource Manager. Provides resource management operations for creating, updating, and deleting Purview accounts.
  version: 2021-12-01
  contact:
    name: Microsoft Purview Support
    url: https://learn.microsoft.com/en-us/purview/
  license:
    name: Microsoft API License
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
security:
- oauth2: []
tags:
- name: Glossary Terms
  description: Operations for managing glossary terms in the unified catalog
paths:
  /glossaryterms:
    get:
      operationId: listUnifiedGlossaryTerms
      summary: Microsoft Purview List glossary terms
      description: List glossary terms in the Purview unified catalog.
      tags:
      - Glossary Terms
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2024-03-01-preview
      - name: maxpagesize
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Glossary terms listed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlossaryTermList'
        '401':
          description: Unauthorized
components:
  schemas:
    GlossaryTermList:
      type: object
      properties:
        value:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              description:
                type: string
              status:
                type: string
              businessDomainId:
                type: string
        nextLink:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Azure Active Directory OAuth2 authentication
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://management.azure.com/.default: Access Azure Resource Manager
