openapi: 3.1.0
info:
  title: Microsoft Purview Account Accounts Triggers API
  description: APIs for managing Purview accounts, configurations, and administrative settings through Azure Resource Manager. Provides resource management operations for creating, updating, and deleting Purview accounts.
  version: 2021-12-01
  contact:
    name: Microsoft Purview Support
    url: https://learn.microsoft.com/en-us/purview/
  license:
    name: Microsoft API License
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
security:
- oauth2: []
tags:
- name: Triggers
  description: Operations for managing scan triggers and schedules
paths:
  /scan/datasources/{dataSourceName}/scans/{scanName}/triggers/default:
    put:
      operationId: createOrReplaceTrigger
      summary: Microsoft Purview Create or replace a scan trigger
      description: Creates or replaces an instance of a trigger for scheduling scans.
      tags:
      - Triggers
      parameters:
      - name: dataSourceName
        in: path
        required: true
        schema:
          type: string
      - name: scanName
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: '2023-09-01'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Trigger'
      responses:
        '200':
          description: Trigger updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        '201':
          description: Trigger created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        '401':
          description: Unauthorized
    get:
      operationId: getTrigger
      summary: Microsoft Purview Get a scan trigger
      description: Gets trigger information for a scan.
      tags:
      - Triggers
      parameters:
      - name: dataSourceName
        in: path
        required: true
        schema:
          type: string
      - name: scanName
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: '2023-09-01'
      responses:
        '200':
          description: Trigger retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        '401':
          description: Unauthorized
        '404':
          description: Trigger not found
    delete:
      operationId: deleteTrigger
      summary: Microsoft Purview Delete a scan trigger
      description: Deletes the trigger associated with the scan.
      tags:
      - Triggers
      parameters:
      - name: dataSourceName
        in: path
        required: true
        schema:
          type: string
      - name: scanName
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: '2023-09-01'
      responses:
        '200':
          description: Trigger deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Trigger not found
  /scan/datasources/{dataSourceName}/scans/{scanName}/triggers/default/:enable:
    post:
      operationId: enableTrigger
      summary: Microsoft Purview Enable a scan trigger
      description: Enables a trigger for scheduled scanning.
      tags:
      - Triggers
      parameters:
      - name: dataSourceName
        in: path
        required: true
        schema:
          type: string
      - name: scanName
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: '2023-09-01'
      responses:
        '200':
          description: Trigger enabled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        '401':
          description: Unauthorized
  /scan/datasources/{dataSourceName}/scans/{scanName}/triggers/default/:disable:
    post:
      operationId: disableTrigger
      summary: Microsoft Purview Disable a scan trigger
      description: Disables a trigger for scheduled scanning.
      tags:
      - Triggers
      parameters:
      - name: dataSourceName
        in: path
        required: true
        schema:
          type: string
      - name: scanName
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: '2023-09-01'
      responses:
        '200':
          description: Trigger disabled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        '401':
          description: Unauthorized
components:
  schemas:
    Trigger:
      type: object
      description: A scan trigger for scheduling automated scans
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
        properties:
          type: object
          properties:
            recurrence:
              $ref: '#/components/schemas/TriggerRecurrence'
            recurrenceInterval:
              type: string
            createdAt:
              type: string
              format: date-time
            lastModifiedAt:
              type: string
              format: date-time
            lastScheduled:
              type: string
              format: date-time
            scanLevel:
              type: string
              enum:
              - Full
              - Incremental
            incrementalScanStartTime:
              type: string
              format: date-time
    RecurrenceSchedule:
      type: object
      properties:
        hours:
          type: array
          items:
            type: integer
            format: int32
        minutes:
          type: array
          items:
            type: integer
            format: int32
        weekDays:
          type: array
          items:
            type: string
            enum:
            - Sunday
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
        monthDays:
          type: array
          items:
            type: integer
            format: int32
    TriggerRecurrence:
      type: object
      properties:
        frequency:
          type: string
          enum:
          - Week
          - Month
          - Day
        interval:
          type: integer
          format: int32
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        schedule:
          $ref: '#/components/schemas/RecurrenceSchedule'
        timeZone:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Azure Active Directory OAuth2 authentication
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://management.azure.com/.default: Access Azure Resource Manager
