openapi: 3.2.0
info:
  title: Microsoft Purview Records Management Retention Events API
  description: APIs for managing retention labels, retention policies, and disposition review through Microsoft Graph. Helps organizations manage data retention and deletion to meet legal obligations and compliance regulations.
  version: v1.0
  contact:
    name: Microsoft Purview Support
    url: https://learn.microsoft.com/en-us/graph/api/resources/security-recordsmanagement-overview
  license:
    name: Microsoft API License
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0 endpoint
security:
- oauth2: []
tags:
- name: Retention Events
  description: Operations for managing retention events
paths:
  /security/triggers/retentionEvents:
    get:
      operationId: listRetentionEvents
      summary: Microsoft Purview List retention events
      description: Get a list of retention events.
      tags:
      - Retention Events
      parameters:
      - name: $top
        in: query
        schema:
          type: integer
          format: int32
      - name: $filter
        in: query
        schema:
          type: string
      - name: $expand
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Retention events listed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/RetentionEvent'
                  '@odata.nextLink':
                    type: string
        '401':
          description: Unauthorized
    post:
      operationId: createRetentionEvent
      summary: Microsoft Purview Create a retention event
      description: Create a new retention event to trigger event-based retention.
      tags:
      - Retention Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetentionEvent'
      responses:
        '201':
          description: Retention event created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetentionEvent'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /security/triggers/retentionEvents/{retentionEventId}:
    get:
      operationId: getRetentionEvent
      summary: Microsoft Purview Get a retention event
      description: Get a retention event by its identifier.
      tags:
      - Retention Events
      parameters:
      - name: retentionEventId
        in: path
        required: true
        schema:
          type: string
      - name: $expand
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Retention event retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetentionEvent'
        '401':
          description: Unauthorized
        '404':
          description: Retention event not found
    delete:
      operationId: deleteRetentionEvent
      summary: Microsoft Purview Delete a retention event
      description: Delete a retention event.
      tags:
      - Retention Events
      parameters:
      - name: retentionEventId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Retention event deleted successfully
        '401':
          description: Unauthorized
components:
  schemas:
    IdentitySet:
      type: object
      properties:
        user:
          type: object
          properties:
            displayName:
              type: string
            id:
              type: string
    RetentionEvent:
      type: object
      description: A retention event that triggers event-based retention
      properties:
        id:
          type: string
          readOnly: true
        displayName:
          type: string
        description:
          type: string
        eventTriggerDateTime:
          type: string
          format: date-time
        eventQueries:
          type: array
          items:
            type: object
            properties:
              queryType:
                type: string
              query:
                type: string
        retentionEventType:
          $ref: '#/components/schemas/RetentionEventType'
        eventStatus:
          type: object
          properties:
            error:
              type: object
              properties:
                code:
                  type: string
                message:
                  type: string
            status:
              type: string
              enum:
              - pending
              - error
              - success
              - unknownFutureValue
        createdDateTime:
          type: string
          format: date-time
          readOnly: true
        lastModifiedDateTime:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          $ref: '#/components/schemas/IdentitySet'
        lastModifiedBy:
          $ref: '#/components/schemas/IdentitySet'
    RetentionEventType:
      type: object
      description: A retention event type
      properties:
        id:
          type: string
          readOnly: true
        displayName:
          type: string
        description:
          type: string
        createdDateTime:
          type: string
          format: date-time
          readOnly: true
        lastModifiedDateTime:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          $ref: '#/components/schemas/IdentitySet'
        lastModifiedBy:
          $ref: '#/components/schemas/IdentitySet'
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Identity Platform OAuth2
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            RecordsManagement.Read.All: Read records management settings
            RecordsManagement.ReadWrite.All: Read and write records management settings
