openapi: 3.1.0
info:
  title: Microsoft Purview Account Accounts Workflow Task API
  description: APIs for managing Purview accounts, configurations, and administrative settings through Azure Resource Manager. Provides resource management operations for creating, updating, and deleting Purview accounts.
  version: 2021-12-01
  contact:
    name: Microsoft Purview Support
    url: https://learn.microsoft.com/en-us/purview/
  license:
    name: Microsoft API License
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
security:
- oauth2: []
tags:
- name: Workflow Task
  description: Operations for managing workflow tasks
paths:
  /workflowtasks/{taskId}:
    get:
      operationId: getWorkflowTask
      summary: Microsoft Purview Get a workflow task
      description: Get a workflow task by its identifier.
      tags:
      - Workflow Task
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2023-10-01-preview
      responses:
        '200':
          description: Workflow task retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowTask'
        '401':
          description: Unauthorized
        '404':
          description: Workflow task not found
  /workflowtasks/{taskId}/reassign:
    post:
      operationId: reassignWorkflowTask
      summary: Microsoft Purview Reassign a workflow task
      description: Reassign a workflow task to a different user.
      tags:
      - Workflow Task
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2023-10-01-preview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reassignments:
                  type: array
                  items:
                    type: object
                    properties:
                      reassignFrom:
                        type: string
                        format: uuid
                      reassignTo:
                        type: string
                        format: uuid
      responses:
        '200':
          description: Task reassigned successfully
        '401':
          description: Unauthorized
components:
  schemas:
    WorkflowTask:
      type: object
      properties:
        id:
          type: string
          format: uuid
        workflowRunId:
          type: string
          format: uuid
        workflowId:
          type: string
          format: uuid
        requestor:
          type: string
          format: uuid
        title:
          type: string
        createdTime:
          type: string
          format: date-time
        lastUpdateTime:
          type: string
          format: date-time
        payload:
          type: object
        reminderInfo:
          type: object
        expiryInfo:
          type: object
        type:
          type: string
          enum:
          - Approval
          - SimpleTask
        status:
          type: string
          enum:
          - InProgress
          - Pending
          - Completed
          - Cancelled
  securitySchemes:
    oauth2:
      type: oauth2
      description: Azure Active Directory OAuth2 authentication
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://management.azure.com/.default: Access Azure Resource Manager
