openapi: 3.1.0
info:
  title: Microsoft Purview Account Accounts Data Quality Rules API
  description: APIs for managing Purview accounts, configurations, and administrative settings through Azure Resource Manager. Provides resource management operations for creating, updating, and deleting Purview accounts.
  version: 2021-12-01
  contact:
    name: Microsoft Purview Support
    url: https://learn.microsoft.com/en-us/purview/
  license:
    name: Microsoft API License
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
security:
- oauth2: []
tags:
- name: Data Quality Rules
  description: Operations for managing data quality rules
paths:
  /dataquality/rules:
    get:
      operationId: listDataQualityRules
      summary: Microsoft Purview List data quality rules
      description: List all data quality rules configured in the Purview account.
      tags:
      - Data Quality Rules
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2024-03-01-preview
      - name: maxpagesize
        in: query
        schema:
          type: integer
          format: int32
      - name: skipToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Data quality rules listed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataQualityRuleList'
        '401':
          description: Unauthorized
    post:
      operationId: createDataQualityRule
      summary: Microsoft Purview Create a data quality rule
      description: Create a new data quality rule for evaluating data assets.
      tags:
      - Data Quality Rules
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2024-03-01-preview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataQualityRule'
      responses:
        '201':
          description: Data quality rule created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataQualityRule'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /dataquality/rules/{ruleId}:
    get:
      operationId: getDataQualityRule
      summary: Microsoft Purview Get a data quality rule
      description: Get a data quality rule by its identifier.
      tags:
      - Data Quality Rules
      parameters:
      - name: ruleId
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2024-03-01-preview
      responses:
        '200':
          description: Data quality rule retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataQualityRule'
        '401':
          description: Unauthorized
        '404':
          description: Rule not found
    patch:
      operationId: updateDataQualityRule
      summary: Microsoft Purview Update a data quality rule
      description: Update an existing data quality rule.
      tags:
      - Data Quality Rules
      parameters:
      - name: ruleId
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2024-03-01-preview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataQualityRule'
      responses:
        '200':
          description: Data quality rule updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataQualityRule'
        '401':
          description: Unauthorized
    delete:
      operationId: deleteDataQualityRule
      summary: Microsoft Purview Delete a data quality rule
      description: Delete a data quality rule by its identifier.
      tags:
      - Data Quality Rules
      parameters:
      - name: ruleId
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2024-03-01-preview
      responses:
        '204':
          description: Data quality rule deleted successfully
        '401':
          description: Unauthorized
components:
  schemas:
    DataQualityRuleList:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/DataQualityRule'
        nextLink:
          type: string
    DataQualityRule:
      type: object
      description: A data quality rule definition
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        ruleType:
          type: string
          enum:
          - Completeness
          - Uniqueness
          - Freshness
          - Accuracy
          - Consistency
          - Validity
        expression:
          type: string
        dimension:
          type: string
        severity:
          type: string
          enum:
          - Low
          - Medium
          - High
          - Critical
        isEnabled:
          type: boolean
        targetAssets:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
  securitySchemes:
    oauth2:
      type: oauth2
      description: Azure Active Directory OAuth2 authentication
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://management.azure.com/.default: Access Azure Resource Manager
