openapi: 3.2.0
info:
  title: Microsoft Purview Information Protection Label Policy Settings API
  description: APIs for accessing and managing sensitivity labels through Microsoft Graph. Enables applications to apply, update, and delete sensitivity labels, evaluate label actions, and enforce information protection policies programmatically.
  version: v1.0
  contact:
    name: Microsoft Purview Support
    url: https://learn.microsoft.com/en-us/graph/security-information-protection-overview
  license:
    name: Microsoft API License
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0 endpoint
security:
- oauth2: []
tags:
- name: Label Policy Settings
  description: Operations for managing label policy settings
paths:
  /security/informationProtection/labelPolicySettings:
    get:
      operationId: getLabelPolicySettings
      summary: Microsoft Purview Get label policy settings
      description: Read the properties and relationships of an informationProtectionPolicySetting object.
      tags:
      - Label Policy Settings
      responses:
        '200':
          description: Label policy settings retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InformationProtectionPolicySetting'
        '401':
          description: Unauthorized
components:
  schemas:
    InformationProtectionPolicySetting:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        moreInfoUrl:
          type: string
        isMandatory:
          type: boolean
        isDowngradeJustificationRequired:
          type: boolean
        defaultLabelId:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Identity Platform OAuth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            InformationProtectionPolicy.Read: Read information protection policies
            InformationProtectionPolicy.Read.All: Read all information protection policies
