openapi: 3.2.0
info:
  title: Microsoft Purview Data Security and Governance Protection Scopes API
  description: APIs for integrating data loss prevention and compliance policy enforcement into applications through Microsoft Graph. Provides compute protection scopes and process content operations to evaluate and enforce DLP policies at runtime.
  version: v1.0
  contact:
    name: Microsoft Purview Support
    url: https://learn.microsoft.com/en-us/graph/security-datasecurityandgovernance-overview
  license:
    name: Microsoft API License
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0 endpoint
security:
- oauth2: []
tags:
- name: Protection Scopes
  description: Operations for computing protection scopes
paths:
  /security/dataSecurityAndGovernance/protectionScopes/microsoft.graph.security.computeProtectionScopes:
    post:
      operationId: computeProtectionScopes
      summary: Microsoft Purview Compute protection scopes
      description: Compute the protection scopes applicable to content to determine which DLP policies should be enforced.
      tags:
      - Protection Scopes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contentInfo:
                  $ref: '#/components/schemas/ContentInfo'
      responses:
        '200':
          description: Protection scopes computed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProtectionScope'
        '401':
          description: Unauthorized
components:
  schemas:
    ContentInfo:
      type: object
      properties:
        contentFormat:
          type: string
        identifier:
          type: string
        state:
          type: string
          enum:
          - rest
          - motion
          - use
        metadata:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              value:
                type: string
    ProtectionScope:
      type: object
      properties:
        id:
          type: string
        scopeType:
          type: string
        policyId:
          type: string
        policyName:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Identity Platform OAuth2
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            InformationProtectionPolicy.Read.All: Read all information protection policies
