openapi: 3.2.0
info:
  title: Microsoft Purview eDiscovery Searches API
  description: APIs for automating eDiscovery operations through Microsoft Graph, including managing cases, custodians, review sets, searches, and exports for litigation, investigation, and regulatory requests.
  version: v1.0
  contact:
    name: Microsoft Purview Support
    url: https://learn.microsoft.com/en-us/graph/api/resources/security-ediscovery-apioverview
  license:
    name: Microsoft API License
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0 endpoint
security:
- oauth2: []
tags:
- name: Searches
  description: Operations for managing eDiscovery searches
paths:
  /security/cases/ediscoveryCases/{ediscoveryCaseId}/searches:
    get:
      operationId: listEdiscoverySearches
      summary: Microsoft Purview List searches in a case
      description: Get the list of searches associated with an eDiscovery case.
      tags:
      - Searches
      parameters:
      - name: ediscoveryCaseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Searches listed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/EdiscoverySearch'
        '401':
          description: Unauthorized
    post:
      operationId: createEdiscoverySearch
      summary: Microsoft Purview Create a search in a case
      description: Create a new eDiscovery search within a case.
      tags:
      - Searches
      parameters:
      - name: ediscoveryCaseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EdiscoverySearch'
      responses:
        '201':
          description: Search created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdiscoverySearch'
        '401':
          description: Unauthorized
components:
  schemas:
    IdentitySet:
      type: object
      properties:
        application:
          $ref: '#/components/schemas/Identity'
        device:
          $ref: '#/components/schemas/Identity'
        user:
          $ref: '#/components/schemas/Identity'
    EdiscoverySearch:
      type: object
      description: An eDiscovery search
      properties:
        id:
          type: string
          readOnly: true
        displayName:
          type: string
        description:
          type: string
        contentQuery:
          type: string
          description: The KQL query for the search
        createdDateTime:
          type: string
          format: date-time
          readOnly: true
        lastModifiedDateTime:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          $ref: '#/components/schemas/IdentitySet'
        lastModifiedBy:
          $ref: '#/components/schemas/IdentitySet'
    Identity:
      type: object
      properties:
        displayName:
          type: string
        id:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Identity Platform OAuth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            eDiscovery.Read.All: Read eDiscovery data
            eDiscovery.ReadWrite.All: Read and write eDiscovery data
