openapi: 3.1.0
info:
  title: Microsoft Purview Account Accounts Data Quality Scores API
  description: APIs for managing Purview accounts, configurations, and administrative settings through Azure Resource Manager. Provides resource management operations for creating, updating, and deleting Purview accounts.
  version: 2021-12-01
  contact:
    name: Microsoft Purview Support
    url: https://learn.microsoft.com/en-us/purview/
  license:
    name: Microsoft API License
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
security:
- oauth2: []
tags:
- name: Data Quality Scores
  description: Operations for retrieving data quality scores
paths:
  /dataquality/scores:
    get:
      operationId: listDataQualityScores
      summary: Microsoft Purview List data quality scores
      description: Retrieve data quality scores for data assets.
      tags:
      - Data Quality Scores
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2024-03-01-preview
      - name: assetId
        in: query
        description: Filter scores by data asset identifier
        schema:
          type: string
      - name: maxpagesize
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Data quality scores retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataQualityScoreList'
        '401':
          description: Unauthorized
  /dataquality/scores/{scoreId}:
    get:
      operationId: getDataQualityScore
      summary: Microsoft Purview Get a data quality score
      description: Get a specific data quality score by its identifier.
      tags:
      - Data Quality Scores
      parameters:
      - name: scoreId
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2024-03-01-preview
      responses:
        '200':
          description: Data quality score retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataQualityScore'
        '401':
          description: Unauthorized
        '404':
          description: Score not found
components:
  schemas:
    DataQualityScore:
      type: object
      description: A data quality score for a data asset
      properties:
        id:
          type: string
        assetId:
          type: string
        assetName:
          type: string
        overallScore:
          type: number
          format: float
          minimum: 0
          maximum: 100
        dimensionScores:
          type: object
          properties:
            completeness:
              type: number
              format: float
            uniqueness:
              type: number
              format: float
            freshness:
              type: number
              format: float
            accuracy:
              type: number
              format: float
            consistency:
              type: number
              format: float
            validity:
              type: number
              format: float
        evaluatedAt:
          type: string
          format: date-time
        ruleResults:
          type: array
          items:
            $ref: '#/components/schemas/RuleResult'
    DataQualityScoreList:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/DataQualityScore'
        nextLink:
          type: string
    RuleResult:
      type: object
      properties:
        ruleId:
          type: string
        ruleName:
          type: string
        status:
          type: string
          enum:
          - Passed
          - Failed
          - Error
          - NotApplicable
        score:
          type: number
          format: float
        details:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Azure Active Directory OAuth2 authentication
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://management.azure.com/.default: Access Azure Resource Manager
