openapi: 3.1.0
info:
  title: Microsoft Purview Account Accounts Type API
  description: APIs for managing Purview accounts, configurations, and administrative settings through Azure Resource Manager. Provides resource management operations for creating, updating, and deleting Purview accounts.
  version: 2021-12-01
  contact:
    name: Microsoft Purview Support
    url: https://learn.microsoft.com/en-us/purview/
  license:
    name: Microsoft API License
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
security:
- oauth2: []
tags:
- name: Type
  description: Operations for managing type definitions
paths:
  /api/atlas/v2/types/typedefs:
    get:
      operationId: listTypeDefinitions
      summary: Microsoft Purview List all type definitions
      description: List all type definitions in bulk.
      tags:
      - Type
      parameters:
      - name: includeTermTemplate
        in: query
        description: Whether to include term template definitions
        schema:
          type: boolean
          default: false
      - name: type
        in: query
        description: Type category filter
        schema:
          type: string
          enum:
          - classification
          - entity
          - enum
          - relationship
          - struct
          - term_template
      responses:
        '200':
          description: Type definitions retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtlasTypesDef'
        '401':
          description: Unauthorized
    post:
      operationId: bulkCreateTypeDefinitions
      summary: Microsoft Purview Create type definitions in bulk
      description: Create all atlas type definitions in bulk.
      tags:
      - Type
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtlasTypesDef'
      responses:
        '200':
          description: Type definitions created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtlasTypesDef'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
    put:
      operationId: bulkUpdateTypeDefinitions
      summary: Microsoft Purview Update type definitions in bulk
      description: Update all types in bulk.
      tags:
      - Type
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtlasTypesDef'
      responses:
        '200':
          description: Type definitions updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtlasTypesDef'
        '401':
          description: Unauthorized
    delete:
      operationId: bulkDeleteTypeDefinitions
      summary: Microsoft Purview Delete type definitions in bulk
      description: Delete API for all types in bulk.
      tags:
      - Type
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtlasTypesDef'
      responses:
        '204':
          description: Type definitions deleted successfully
        '401':
          description: Unauthorized
  /api/atlas/v2/types/typedefs/headers:
    get:
      operationId: listTypeDefinitionHeaders
      summary: Microsoft Purview List type definition headers
      description: List all type definitions returned as a list of minimal information header.
      tags:
      - Type
      parameters:
      - name: includeTermTemplate
        in: query
        schema:
          type: boolean
          default: false
      - name: type
        in: query
        schema:
          type: string
          enum:
          - classification
          - entity
          - enum
          - relationship
          - struct
          - term_template
      responses:
        '200':
          description: Type definition headers retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AtlasTypeDefHeader'
        '401':
          description: Unauthorized
  /api/atlas/v2/types/typedef/guid/{guid}:
    get:
      operationId: getTypeDefinitionByGuid
      summary: Microsoft Purview Get type definition by GUID
      description: Get the type definition for the given GUID.
      tags:
      - Type
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Type definition retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtlasTypeDef'
        '401':
          description: Unauthorized
        '404':
          description: Type definition not found
  /api/atlas/v2/types/typedef/name/{name}:
    get:
      operationId: getTypeDefinitionByName
      summary: Microsoft Purview Get type definition by name
      description: Get the type definition by its name (unique).
      tags:
      - Type
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Type definition retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtlasTypeDef'
        '401':
          description: Unauthorized
        '404':
          description: Type definition not found
    delete:
      operationId: deleteTypeDefinitionByName
      summary: Microsoft Purview Delete type definition by name
      description: Delete API for type identified by its name.
      tags:
      - Type
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Type definition deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Type definition not found
components:
  schemas:
    AtlasTypesDef:
      type: object
      description: The definitions of types
      properties:
        businessMetadataDefs:
          type: array
          items:
            $ref: '#/components/schemas/AtlasTypeDef'
        classificationDefs:
          type: array
          items:
            $ref: '#/components/schemas/AtlasTypeDef'
        entityDefs:
          type: array
          items:
            $ref: '#/components/schemas/AtlasTypeDef'
        enumDefs:
          type: array
          items:
            $ref: '#/components/schemas/AtlasTypeDef'
        relationshipDefs:
          type: array
          items:
            $ref: '#/components/schemas/AtlasTypeDef'
        structDefs:
          type: array
          items:
            $ref: '#/components/schemas/AtlasTypeDef'
        termTemplateDefs:
          type: array
          items:
            $ref: '#/components/schemas/AtlasTypeDef'
    AtlasTypeDefHeader:
      type: object
      properties:
        category:
          type: string
        guid:
          type: string
          format: uuid
        name:
          type: string
    AtlasTypeDef:
      type: object
      description: A type definition
      properties:
        category:
          type: string
          enum:
          - PRIMITIVE
          - OBJECT_ID_TYPE
          - ENUM
          - STRUCT
          - CLASSIFICATION
          - ENTITY
          - ARRAY
          - MAP
          - RELATIONSHIP
          - TERM_TEMPLATE
        createTime:
          type: integer
          format: int64
        createdBy:
          type: string
        dateFormatter:
          type: object
        description:
          type: string
        guid:
          type: string
          format: uuid
        name:
          type: string
        options:
          type: object
          additionalProperties:
            type: string
        typeVersion:
          type: string
        updateTime:
          type: integer
          format: int64
        updatedBy:
          type: string
        version:
          type: integer
          format: int64
        lastModifiedTS:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Azure Active Directory OAuth2 authentication
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://management.azure.com/.default: Access Azure Resource Manager
