openapi: 3.2.0
info:
  title: Microsoft Purview eDiscovery Review Sets API
  description: APIs for automating eDiscovery operations through Microsoft Graph, including managing cases, custodians, review sets, searches, and exports for litigation, investigation, and regulatory requests.
  version: v1.0
  contact:
    name: Microsoft Purview Support
    url: https://learn.microsoft.com/en-us/graph/api/resources/security-ediscovery-apioverview
  license:
    name: Microsoft API License
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0 endpoint
security:
- oauth2: []
tags:
- name: Review Sets
  description: Operations for managing review sets
paths:
  /security/cases/ediscoveryCases/{ediscoveryCaseId}/reviewSets:
    get:
      operationId: listReviewSets
      summary: Microsoft Purview List review sets in a case
      description: Get the list of review sets associated with an eDiscovery case.
      tags:
      - Review Sets
      parameters:
      - name: ediscoveryCaseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Review sets listed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/EdiscoveryReviewSet'
        '401':
          description: Unauthorized
    post:
      operationId: createReviewSet
      summary: Microsoft Purview Create a review set
      description: Create a new review set in an eDiscovery case.
      tags:
      - Review Sets
      parameters:
      - name: ediscoveryCaseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EdiscoveryReviewSet'
      responses:
        '201':
          description: Review set created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdiscoveryReviewSet'
        '401':
          description: Unauthorized
components:
  schemas:
    IdentitySet:
      type: object
      properties:
        application:
          $ref: '#/components/schemas/Identity'
        device:
          $ref: '#/components/schemas/Identity'
        user:
          $ref: '#/components/schemas/Identity'
    Identity:
      type: object
      properties:
        displayName:
          type: string
        id:
          type: string
    EdiscoveryReviewSet:
      type: object
      description: A review set for reviewing collected data
      properties:
        id:
          type: string
          readOnly: true
        displayName:
          type: string
        createdDateTime:
          type: string
          format: date-time
          readOnly: true
        createdBy:
          $ref: '#/components/schemas/IdentitySet'
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Identity Platform OAuth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            eDiscovery.Read.All: Read eDiscovery data
            eDiscovery.ReadWrite.All: Read and write eDiscovery data
