openapi: 3.1.0
info:
  title: Microsoft Purview Account Accounts Relationship API
  description: APIs for managing Purview accounts, configurations, and administrative settings through Azure Resource Manager. Provides resource management operations for creating, updating, and deleting Purview accounts.
  version: 2021-12-01
  contact:
    name: Microsoft Purview Support
    url: https://learn.microsoft.com/en-us/purview/
  license:
    name: Microsoft API License
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
security:
- oauth2: []
tags:
- name: Relationship
  description: Operations for managing relationships between entities
paths:
  /api/atlas/v2/relationship:
    post:
      operationId: createRelationship
      summary: Microsoft Purview Create a relationship
      description: Create a new relationship between entities.
      tags:
      - Relationship
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtlasRelationship'
      responses:
        '200':
          description: Relationship created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtlasRelationship'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
    put:
      operationId: updateRelationship
      summary: Microsoft Purview Update a relationship
      description: Update an existing relationship between entities.
      tags:
      - Relationship
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtlasRelationship'
      responses:
        '200':
          description: Relationship updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtlasRelationship'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /api/atlas/v2/relationship/guid/{guid}:
    get:
      operationId: getRelationship
      summary: Microsoft Purview Get relationship by GUID
      description: Get relationship information between entities by its GUID.
      tags:
      - Relationship
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: extendedInfo
        in: query
        description: Whether to return extended information
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Relationship retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtlasRelationshipWithExtInfo'
        '401':
          description: Unauthorized
        '404':
          description: Relationship not found
    delete:
      operationId: deleteRelationship
      summary: Microsoft Purview Delete a relationship
      description: Delete a relationship between entities by its GUID.
      tags:
      - Relationship
      parameters:
      - name: guid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Relationship deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Relationship not found
components:
  schemas:
    TimeBoundary:
      type: object
      properties:
        endTime:
          type: string
        startTime:
          type: string
        timeZone:
          type: string
    AtlasClassification:
      type: object
      description: A classification instance
      properties:
        attributes:
          type: object
          additionalProperties: true
        typeName:
          type: string
        lastModifiedTS:
          type: string
        entityGuid:
          type: string
          format: uuid
        entityStatus:
          type: string
          enum:
          - ACTIVE
          - DELETED
        propagate:
          type: boolean
        removePropagationsOnEntityDelete:
          type: boolean
        validityPeriods:
          type: array
          items:
            $ref: '#/components/schemas/TimeBoundary'
    AtlasRelationshipWithExtInfo:
      type: object
      properties:
        referredEntities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AtlasEntity'
        relationship:
          $ref: '#/components/schemas/AtlasRelationship'
    AtlasTermAssignmentHeader:
      type: object
      properties:
        confidence:
          type: integer
          format: int32
        createdBy:
          type: string
        description:
          type: string
        displayText:
          type: string
        expression:
          type: string
        relationGuid:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - DISCOVERED
          - PROPOSED
          - IMPORTED
          - VALIDATED
          - DEPRECATED
          - OBSOLETE
          - OTHER
        steward:
          type: string
        termGuid:
          type: string
          format: uuid
    AtlasRelationship:
      type: object
      description: A relationship between entities
      properties:
        attributes:
          type: object
          additionalProperties: true
        typeName:
          type: string
        lastModifiedTS:
          type: string
        createTime:
          type: integer
          format: int64
        createdBy:
          type: string
        end1:
          $ref: '#/components/schemas/AtlasObjectId'
        end2:
          $ref: '#/components/schemas/AtlasObjectId'
        guid:
          type: string
          format: uuid
        homeId:
          type: string
        label:
          type: string
        provenanceType:
          type: integer
          format: int32
        status:
          type: string
          enum:
          - ACTIVE
          - DELETED
        updateTime:
          type: integer
          format: int64
        updatedBy:
          type: string
        version:
          type: integer
          format: int64
    AtlasEntity:
      type: object
      description: An instance of an entity along with extended info such as classification and referenced entities
      properties:
        attributes:
          type: object
          description: The attributes of the entity
          additionalProperties: true
        typeName:
          type: string
          description: The name of the type
        lastModifiedTS:
          type: string
          description: ETag for concurrency control
        businessAttributes:
          type: object
          additionalProperties: true
        classifications:
          type: array
          items:
            $ref: '#/components/schemas/AtlasClassification'
        createTime:
          type: integer
          format: int64
        createdBy:
          type: string
        guid:
          type: string
          format: uuid
        homeId:
          type: string
        labels:
          type: array
          items:
            type: string
        meanings:
          type: array
          items:
            $ref: '#/components/schemas/AtlasTermAssignmentHeader'
        provenanceType:
          type: integer
          format: int32
        proxy:
          type: boolean
        relationshipAttributes:
          type: object
          additionalProperties: true
        status:
          type: string
          enum:
          - ACTIVE
          - DELETED
        updateTime:
          type: integer
          format: int64
        updatedBy:
          type: string
        version:
          type: integer
          format: int64
        collectionId:
          type: string
    AtlasObjectId:
      type: object
      properties:
        guid:
          type: string
          format: uuid
        typeName:
          type: string
        uniqueAttributes:
          type: object
          additionalProperties: true
  securitySchemes:
    oauth2:
      type: oauth2
      description: Azure Active Directory OAuth2 authentication
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://management.azure.com/.default: Access Azure Resource Manager
