openapi: 3.1.0
info:
  title: Microsoft Purview Account Accounts Data Products API
  description: APIs for managing Purview accounts, configurations, and administrative settings through Azure Resource Manager. Provides resource management operations for creating, updating, and deleting Purview accounts.
  version: 2021-12-01
  contact:
    name: Microsoft Purview Support
    url: https://learn.microsoft.com/en-us/purview/
  license:
    name: Microsoft API License
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
security:
- oauth2: []
tags:
- name: Data Products
  description: Operations for managing data products
paths:
  /dataproducts:
    get:
      operationId: listDataProducts
      summary: Microsoft Purview List data products
      description: List all data products in the Purview unified catalog.
      tags:
      - Data Products
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2024-03-01-preview
      - name: maxpagesize
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Data products listed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataProductList'
        '401':
          description: Unauthorized
    post:
      operationId: createDataProduct
      summary: Microsoft Purview Create a data product
      description: Create a new data product in the unified catalog.
      tags:
      - Data Products
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2024-03-01-preview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataProduct'
      responses:
        '201':
          description: Data product created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataProduct'
        '401':
          description: Unauthorized
  /dataproducts/{dataProductId}:
    get:
      operationId: getDataProduct
      summary: Microsoft Purview Get a data product
      description: Get a data product by its identifier.
      tags:
      - Data Products
      parameters:
      - name: dataProductId
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2024-03-01-preview
      responses:
        '200':
          description: Data product retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataProduct'
        '401':
          description: Unauthorized
        '404':
          description: Not found
    patch:
      operationId: updateDataProduct
      summary: Microsoft Purview Update a data product
      description: Update a data product by its identifier.
      tags:
      - Data Products
      parameters:
      - name: dataProductId
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2024-03-01-preview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataProduct'
      responses:
        '200':
          description: Data product updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataProduct'
        '401':
          description: Unauthorized
    delete:
      operationId: deleteDataProduct
      summary: Microsoft Purview Delete a data product
      description: Delete a data product by its identifier.
      tags:
      - Data Products
      parameters:
      - name: dataProductId
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2024-03-01-preview
      responses:
        '204':
          description: Data product deleted successfully
        '401':
          description: Unauthorized
components:
  schemas:
    GovernanceContact:
      type: object
      properties:
        id:
          type: string
          format: uuid
        displayName:
          type: string
        mail:
          type: string
          format: email
    DataProduct:
      type: object
      description: A data product in the unified catalog
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        businessDomainId:
          type: string
        owners:
          type: array
          items:
            $ref: '#/components/schemas/GovernanceContact'
        status:
          type: string
          enum:
          - Draft
          - Published
          - Expired
        dataAssets:
          type: array
          items:
            type: object
            properties:
              assetId:
                type: string
              assetType:
                type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    DataProductList:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/DataProduct'
        nextLink:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Azure Active Directory OAuth2 authentication
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://management.azure.com/.default: Access Azure Resource Manager
