openapi: 3.1.0
info:
  title: Microsoft Purview Account Accounts Business Domains API
  description: APIs for managing Purview accounts, configurations, and administrative settings through Azure Resource Manager. Provides resource management operations for creating, updating, and deleting Purview accounts.
  version: 2021-12-01
  contact:
    name: Microsoft Purview Support
    url: https://learn.microsoft.com/en-us/purview/
  license:
    name: Microsoft API License
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
security:
- oauth2: []
tags:
- name: Business Domains
  description: Operations for managing business domains
paths:
  /businessdomains:
    get:
      operationId: listBusinessDomains
      summary: Microsoft Purview List business domains
      description: List all business domains in the Purview unified catalog.
      tags:
      - Business Domains
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2024-03-01-preview
      - name: maxpagesize
        in: query
        schema:
          type: integer
          format: int32
      - name: skipToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Business domains listed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessDomainList'
        '401':
          description: Unauthorized
    post:
      operationId: createBusinessDomain
      summary: Microsoft Purview Create a business domain
      description: Create a new business domain in the unified catalog.
      tags:
      - Business Domains
      parameters:
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2024-03-01-preview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessDomain'
      responses:
        '201':
          description: Business domain created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessDomain'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /businessdomains/{businessDomainId}:
    get:
      operationId: getBusinessDomain
      summary: Microsoft Purview Get a business domain
      description: Get a business domain by its identifier.
      tags:
      - Business Domains
      parameters:
      - name: businessDomainId
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2024-03-01-preview
      responses:
        '200':
          description: Business domain retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessDomain'
        '401':
          description: Unauthorized
        '404':
          description: Not found
    patch:
      operationId: updateBusinessDomain
      summary: Microsoft Purview Update a business domain
      description: Update a business domain by its identifier.
      tags:
      - Business Domains
      parameters:
      - name: businessDomainId
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2024-03-01-preview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessDomain'
      responses:
        '200':
          description: Business domain updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessDomain'
        '401':
          description: Unauthorized
    delete:
      operationId: deleteBusinessDomain
      summary: Microsoft Purview Delete a business domain
      description: Delete a business domain by its identifier.
      tags:
      - Business Domains
      parameters:
      - name: businessDomainId
        in: path
        required: true
        schema:
          type: string
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2024-03-01-preview
      responses:
        '204':
          description: Business domain deleted successfully
        '401':
          description: Unauthorized
components:
  schemas:
    GovernanceContact:
      type: object
      properties:
        id:
          type: string
          format: uuid
        displayName:
          type: string
        mail:
          type: string
          format: email
    BusinessDomain:
      type: object
      description: A business domain in the unified catalog
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        owners:
          type: array
          items:
            $ref: '#/components/schemas/GovernanceContact'
        stewards:
          type: array
          items:
            $ref: '#/components/schemas/GovernanceContact'
        parentDomainId:
          type: string
        status:
          type: string
          enum:
          - Draft
          - Published
          - Expired
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    BusinessDomainList:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/BusinessDomain'
        nextLink:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: Azure Active Directory OAuth2 authentication
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://management.azure.com/.default: Access Azure Resource Manager
