openapi: 3.1.0
info:
  title: Microsoft Purview Account Accounts Cases API
  description: APIs for managing Purview accounts, configurations, and administrative settings through Azure Resource Manager. Provides resource management operations for creating, updating, and deleting Purview accounts.
  version: 2021-12-01
  contact:
    name: Microsoft Purview Support
    url: https://learn.microsoft.com/en-us/purview/
  license:
    name: Microsoft API License
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
security:
- oauth2: []
tags:
- name: Cases
  description: Operations for managing eDiscovery cases
paths:
  /security/cases/ediscoveryCases:
    get:
      operationId: listEdiscoveryCases
      summary: Microsoft Purview List eDiscovery cases
      description: Get a list of eDiscovery cases in the organization.
      tags:
      - Cases
      parameters:
      - name: $top
        in: query
        schema:
          type: integer
          format: int32
      - name: $skip
        in: query
        schema:
          type: integer
          format: int32
      - name: $filter
        in: query
        schema:
          type: string
      - name: $orderby
        in: query
        schema:
          type: string
      - name: $select
        in: query
        schema:
          type: string
      responses:
        '200':
          description: eDiscovery cases listed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/EdiscoveryCase'
                  '@odata.nextLink':
                    type: string
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      operationId: createEdiscoveryCase
      summary: Microsoft Purview Create an eDiscovery case
      description: Create a new eDiscovery case for investigation or litigation.
      tags:
      - Cases
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EdiscoveryCase'
      responses:
        '201':
          description: eDiscovery case created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdiscoveryCase'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
  /security/cases/ediscoveryCases/{ediscoveryCaseId}:
    get:
      operationId: getEdiscoveryCase
      summary: Microsoft Purview Get an eDiscovery case
      description: Get an eDiscovery case by its identifier.
      tags:
      - Cases
      parameters:
      - name: ediscoveryCaseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: eDiscovery case retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdiscoveryCase'
        '401':
          description: Unauthorized
        '404':
          description: Not found
    patch:
      operationId: updateEdiscoveryCase
      summary: Microsoft Purview Update an eDiscovery case
      description: Update the properties of an eDiscovery case.
      tags:
      - Cases
      parameters:
      - name: ediscoveryCaseId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EdiscoveryCase'
      responses:
        '200':
          description: eDiscovery case updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EdiscoveryCase'
        '401':
          description: Unauthorized
    delete:
      operationId: deleteEdiscoveryCase
      summary: Microsoft Purview Delete an eDiscovery case
      description: Delete an eDiscovery case and all associated data.
      tags:
      - Cases
      parameters:
      - name: ediscoveryCaseId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: eDiscovery case deleted successfully
        '401':
          description: Unauthorized
components:
  schemas:
    Identity:
      type: object
      properties:
        displayName:
          type: string
        id:
          type: string
    IdentitySet:
      type: object
      properties:
        application:
          $ref: '#/components/schemas/Identity'
        device:
          $ref: '#/components/schemas/Identity'
        user:
          $ref: '#/components/schemas/Identity'
    EdiscoveryCase:
      type: object
      description: An eDiscovery case for litigation or investigation
      properties:
        id:
          type: string
          readOnly: true
        displayName:
          type: string
        description:
          type: string
        externalId:
          type: string
        status:
          type: string
          enum:
          - unknown
          - active
          - pendingDelete
          - closing
          - closed
          - closedWithError
          readOnly: true
        createdDateTime:
          type: string
          format: date-time
          readOnly: true
        lastModifiedDateTime:
          type: string
          format: date-time
          readOnly: true
        closedBy:
          $ref: '#/components/schemas/IdentitySet'
        closedDateTime:
          type: string
          format: date-time
        lastModifiedBy:
          $ref: '#/components/schemas/IdentitySet'
  securitySchemes:
    oauth2:
      type: oauth2
      description: Azure Active Directory OAuth2 authentication
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://management.azure.com/.default: Access Azure Resource Manager
