openapi: 3.1.0
info:
  title: Microsoft Purview Account Accounts Workflow API
  description: APIs for managing Purview accounts, configurations, and administrative settings through Azure Resource Manager. Provides resource management operations for creating, updating, and deleting Purview accounts.
  version: 2021-12-01
  contact:
    name: Microsoft Purview Support
    url: https://learn.microsoft.com/en-us/purview/
  license:
    name: Microsoft API License
    url: https://azure.microsoft.com/en-us/support/legal/
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
security:
- oauth2: []
tags:
- name: Workflow
  description: Operations for managing individual workflows
paths:
  /workflows/{workflowId}:
    put:
      operationId: createOrReplaceWorkflow
      summary: Microsoft Purview Create or replace a workflow
      description: Create or replace a workflow definition.
      tags:
      - Workflow
      parameters:
      - name: workflowId
        in: path
        required: true
        description: The workflow identifier
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2023-10-01-preview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowCreateOrUpdateCommand'
      responses:
        '200':
          description: Workflow created or updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
    get:
      operationId: getWorkflow
      summary: Microsoft Purview Get a workflow
      description: Get a specific workflow by its identifier.
      tags:
      - Workflow
      parameters:
      - name: workflowId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2023-10-01-preview
      responses:
        '200':
          description: Workflow retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflow'
        '401':
          description: Unauthorized
        '404':
          description: Workflow not found
    delete:
      operationId: deleteWorkflow
      summary: Microsoft Purview Delete a workflow
      description: Delete a workflow by its identifier.
      tags:
      - Workflow
      parameters:
      - name: workflowId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2023-10-01-preview
      responses:
        '204':
          description: Workflow deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Workflow not found
  /workflows/{workflowId}/validate:
    post:
      operationId: validateWorkflow
      summary: Microsoft Purview Validate a workflow
      description: Validate a workflow definition without creating it.
      tags:
      - Workflow
      parameters:
      - name: workflowId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: api-version
        in: query
        required: true
        schema:
          type: string
          default: 2023-10-01-preview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowCreateOrUpdateCommand'
      responses:
        '200':
          description: Workflow validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResult'
        '401':
          description: Unauthorized
components:
  schemas:
    ValidationResult:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              severity:
                type: string
              message:
                type: string
    WorkflowTrigger:
      type: object
      properties:
        type:
          type: string
          enum:
          - when_term_creation_is_requested
          - when_term_deletion_is_requested
          - when_term_update_is_requested
          - when_data_access_grant_is_requested
          - when_asset_update_is_requested
        underGlossaryHierarchy:
          type: string
        underCollection:
          type: string
    Workflow:
      type: object
      description: A workflow definition
      properties:
        id:
          type: string
          format: uuid
        triggers:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowTrigger'
        name:
          type: string
        isEnabled:
          type: boolean
        description:
          type: string
        actionDag:
          type: object
          description: The directed acyclic graph of actions
    WorkflowCreateOrUpdateCommand:
      type: object
      properties:
        triggers:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowTrigger'
        name:
          type: string
        isEnabled:
          type: boolean
        description:
          type: string
        actionDag:
          type: object
  securitySchemes:
    oauth2:
      type: oauth2
      description: Azure Active Directory OAuth2 authentication
      flows:
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token
          scopes:
            https://management.azure.com/.default: Access Azure Resource Manager
